// Place all the styles related to the articles controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


@import url('https://use.fontawesome.com/releases/v5.1.0/css/all.css');
@import url('https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css');

.container {

  margin-top: 20px;
}

.navbar {
  height: 80px;
  background-color: rgba(188,188,188,0.1) ;
  color: grey;
  display: flex;
  padding-left: 30px;
  padding-right: 30px;

  a {
    color: white;
    text-decoration: none;
  }
}

.card {
  margin-bottom: 16px;
  padding: 8px;
}
